{% extends 'base1.html.twig' %}
{% block sidebar %}
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <!-- Your logo SVG here -->
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

   <ul class="menu-inner py-1">
    <li class="menu-item active">
        <a href="{{ path('home') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
    <a href="{{ path('admin_transport_index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bus"></i>
        <div>Transport (Admin)</div>
    </a>
</li>


    <li class="menu-item">
        <a href="{{ path('admin_driver_index') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-id-card"></i>
            <div>Driver</div>
        </a>
    </li>
</ul>

{% endblock %}
{% block body %}
    <h1>Edit Driver</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}
