{% extends 'base1.html.twig' %}
{% block sidebar %}
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <!-- Your logo SVG here -->
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

   <ul class="menu-inner py-1">
    <li class="menu-item active">
        <a href="{{ path('home') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
    <a href="{{ path('admin_transport_index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bus"></i>
        <div>Transport (Admin)</div>
    </a>
</li>


    <li class="menu-item">
        <a href="{{ path('admin_driver_index') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-id-card"></i>
            <div>Driver</div>
        </a>
    </li>
</ul>

{% endblock %}
{% block body %}
    <h1>List of Drivers</h1>

    <a href="{{ path('admin_driver_new') }}" class="btn btn-success">+ Add a driver</a>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Licence Number</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.licenceNumber }}</td>
                    <td>{{ driver.transportId }}</td>
                    <td>
                        <a href="{{ path('admin_driver_edit', {id: driver.id}) }}" class="btn btn-primary">Edit</a>

                        <form method="post" action="{{ path('admin_driver_delete', {'id': driver.id}) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this driver?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No driver found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
