{% extends 'base.html.twig' %}

{% block title %}
    {{ transport.id is defined ? 'Edit' : 'New' }} Transport
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ transport.id is defined ? 'Edit' : 'Add' }} Transport</h2>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.capacity) }}
                {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.disponibility) }}
                {{ form_widget(form.disponibility, {'attr': {'class': 'form-check-input'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.destination) }}
                {{ form_widget(form.destination, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
