{% extends 'front/base.html.twig' %}

{% block title %}Edit Ticket #{{ ticket.id }}{% endblock %}
{% block hero_banner %}
<div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated zoomIn">Make a Reservation</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{{ path('app_front_home') }}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">New Reservation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h4 class="mb-0">Edit Ticket #{{ ticket.id }}</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="d-flex justify-content-between mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save Changes
                            </button>
                            <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}