{% extends 'base1.html.twig' %}

{% block sidebar %}
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <!-- Your logo SVG here -->
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

   <ul class="menu-inner py-1">
    <li class="menu-item active">
        <a href="{{ path('home') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
    <a href="{{ path('app_reservation_new') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bus"></i>
        <div>Reservation </div>
    </a>
</li>


    <li class="menu-item">
        <a href="{{ path('app_ticket_index') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-id-card"></i>
            <div>Ticket</div>
        </a>
    </li>
</ul>

    <li class="menu-item">
        <a href="{{ path('admin_waitlist_index') }}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-id-card"></i>
            <div>Reservation (Admin)</div>
        </a>
    </li>
</ul>

{% endblock %}

{% block navbar %}
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." />
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Congratulations! 🎉</h5>
                            <p class="mb-4">You have done <span class="fw-bold">72%</span> more sales today.</p>
                            <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            © {{ "now"|date("Y") }}, made with ❤️ by ThemeSelection
        </div>
    </div>
{% endblock %}