{% extends 'base.html.twig' %}

{% block title %}Home - Mentor{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="{{ asset('assets/img/hero-bg.jpg') }}" alt="" data-aos="fade-in">
    <div class="container">
      <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading Tomorrow</h2>
      <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p>
      <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
        <a href="{{ path('courses') }}" class="btn-get-started">Get Started</a>
      </div>
    </div>
  </section>

  <!-- Custom Content -->
  <div class="container mt-5">
    <h1>Welcome to Mentor</h1>
    <p>This is the home page content.</p>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/custom.js') }}"></script>
{% endblock %}